<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <!-- Latest compiled and minified CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <style>
    .red {
      border: 1px solid red;
    }

    .green {
      border: 1px solid green;
    }

    .yellow {
      border: 1px solid yellow;
    }

    .register-container {
      background-color: whitesmoke;
      min-height: 100vh;
      padding-top: 20px;
      .content-right {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 /10%);
        box-sizing: border-box;

        .forgot-password {
          text-decoration: none;
        }
      }
    }
    .content-left {
      margin-top: 50px;

      .brand {
        text-transform: uppercase;
        font-size: 30px;
        color: #1877f2;
      }

      .detail {
        font-size: 20px;
      }
    }
  </style>
  <body>
    <div class="Register-container mt-3">
      <div class="container">
        <div class="row px-3 px-sm-0">
          <div class="content-left col-7">
            <div class="brand">timkiemnhatro.vn</div>
            <div class="detail">Tim kiem nha tro khu vuc Hanoi</div>
          </div>
          <!-- Register form -->
          <div class="content-right col-5 d-flex flex-column gap-3 py-3">
            <form method="POST" action="/user/create-user">
              <div class="btn-group" role="group" aria-label="Client or Host">
                <input
                  type="radio"
                  class="btn-check"
                  name="role"
                  id="client"
                  value="client"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="client"
                  >Client</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="role"
                  id="host"
                  value="host"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="host">Host</label>
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input
                  type="text "
                  class="form-control"
                  name="email"
                  placeholder="Email address"
                />
              </div>
              <div class="form-group">
                <label>Username:</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  placeholder="Username"
                />
              </div>
              <div class="form-group">
                <label>Phone number:</label>
                <input
                  type="text "
                  class="form-control"
                  name="phone"
                  placeholder="Phone number"
                />
              </div>
              <div class="form-group">
                <label>Password:</label>
                <input
                  type="text "
                  class="form-control"
                  name="password"
                  placeholder="Password"
                />
              </div>
              <div class="form-group">
                <label>Reenter password:</label>
                <input
                  type="text "
                  class="form-control"
                  name="confirmPassword"
                  placeholder="Reenter Password"
                />
              </div>
              <div class="row mt-2">
                <div class="col-5"></div>
                <button class="btn btn-primary col-2">Register</button>
                <div class="col-5"></div>
              </div>

              <hr />
              <div class="text-center">
                <span class="text-center">
                  <a class="already-account" href="#"
                    >Already have an account. Login?</a
                  ></span
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
